html{
    box-sizing: border-box;
    font-size: 62.5%; /**Reset para REMS - 62.5% = 10px de 16px**/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 2rem;
    background-color: #4d84e2;
}

.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #4d84e2;
    overflow: hidden;
}
img{
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

.centrar-texto{
    text-align: center;
}

/** Home **/
.site-header{
    background-color: #22242a;
    height: 10rem;
}

.site-elements{
   max-width: 140rem;
   height: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
}

.site-header span{
    color: #1dc4e7;
}

.header-left{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-left i{
    font-size: 4rem;
}

.header-left a{
    color: #fff;
    text-decoration: none;
}

.header-right button{
    background-color: #4d84e2;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #fff;
}

.header-right button:hover{
    background-color: #4481eb;
}

.sidebar{
    background-color: #4d84e2;
    padding-top: 1rem;
    position: fixed;
    left: 0;
    width: 30rem;
    height: 90%;
}

.profile-data{
    width: 100%;
    text-align: center;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 2rem;
}

.sidebar a{
    font-size: 2.8rem;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 4rem;
    text-decoration: none;
    padding-left: 4rem;
    box-sizing: border-box;
    transition: 0.5s;
}

.sidebar a:hover{
    background: #22242a;
}

.sidebar i{
    padding-right: 1rem;
}

label #sidebar_btn{
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

label #sidebar_btn:hover{
    color: #4d84e2;
}

#check:checked ~ .sidebar{
    left: -19rem;
}

#check:checked ~ .sidebar h4{
    display: none;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 3rem;
    margin-left: 16rem;
    width: 9rem;
}


#check{
    display: none;
}



label{
    display: block;
    font-weight:500;
    text-transform: uppercase;
    margin-top: 1rem;
}

input:not([type="button"]):not([type="submit"]), textarea, select{
    border: none;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 1rem;
    background-color: #e1e1e1;
    font-size: 1.5rem;
    margin: .2rem 2rem;
    margin-left: 0;
    padding: 1rem;
}



input:not([type="date"]):not([type="button"]):not([type="submit"]){
    width: 50%;
}


.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #04befe;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2.5rem 0;
    transition: .5s;
    margin-right: 15px;
}

.btn:hover{
    background-color: #5995fd;
     transform: scale(1.2);
}



.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
    border: none;
    transition: .5s;
}

.boton:hover{
    cursor: pointer;
    background-color: #4d84e2;
    
}

.boton-az{
    background-color: #5995fd;
}

.buscar-pr{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.imagen-b button{
    width: 5rem;
    height: 5rem;
    background-color: #B5B5B5;
    margin-left: 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.imagen-b button:hover{
    cursor: pointer;
}

form{
  /*  position: absolute;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.formulario{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#borrar{
    background: gray;
    width: 30%;
}
#borrar:hover{
    background: yellowgreen;
    transform: scale(1.2);
    
}
input[type="radio"]{
    width: 3rem;
    height: 3rem;
     
}
.radios{
    text-align: center;
    background: gray;
    width: 600px;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin-right: 20px;
    
    border-radius: 35px;
}
select{
    width: 50%;
}
